header#mainHeader{
  background: #A1212C;
  .wrapper{
    padding: 0 1rem;
    min-height: auto;
    background: none;
    display: flex;
    justify-content: space-between;
    h4, li{
      color: white;
      line-height: 1;
    }
    nav{
      ul{
        li{
          display: inline-block;
          padding: 1rem;
          font-size: 1.3em;
          cursor: pointer;
          &:last-child{
            padding-right: 0;
          }
        }
      }
    }
  }
}
